body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-menu-light
  .ant-menu-item-selected {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-left: 3px solid var(--purple-primary);
}
body {
  background-color: #37075d;
}
body::-webkit-scrollbar,
.slider-bar::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb,
.slider-bar::-webkit-scrollbar-thumb {
  background-color: #4e4242;
  border-radius: 100rem;
}
body::-webkit-scrollbar-track,
.slider-bar::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 100rem;
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-layout {
  background: none;
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-layout .ant-layout-sider {
  background: none;
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-menu-light {
  background: none;
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-menu .ant-menu-item {
  white-space: normal;
  line-height: normal;
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-layout .ant-layout-sider {
  min-width: 240px;
}
.img_scale {
  transition: all 0.6s ease-in-out;
}
.img_scale:hover {
  transform: scale(1.2);
}
.custom-mask {
  border-radius: 999px;
}
.custom-content {
  color: #fff;
  font-size: 14px;
  padding: 10px;
}
.carousel_container {
  max-height: "229px";
}

/* Key frames */
@keyframes animateGirl {
  0% {
    transform: translateX(calc(100% + 100vw));
  }
  50% {
    transform: translateX(calc(-100% - 100vw));
  }
  50.01% {
    transform: translateX(calc(-100% - 100vw)) rotateY(180deg);
  }
  100% {
    transform: translateX(calc(100% + 100vw)) rotateY(180deg);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(45deg);
  }
  100% {
    top: 110%;
    transform: translateX(20px) rotate(225deg);
  }
}
